
<div id="jumbo" class="container p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">DC Character Hub</h1>
    <p>Keep up with the best characters and teams in the DC Universe. </p>
  </div>
</div>
