
<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">DC Character Hub</h1>
    <p>A list of the best characters and teams in the DC Universe. </p>
  </div>
</div>
