{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ slug }} Team Name{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/{{ image }}" alt="Team Photo" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
        <h1>{{ name }}</h1>
        <p class="byline"> Team: {{teammates}}<br>
        <span> First Appearance: {{appearance}}</span></p>
        <p>{{history}}<p>
      </div>
    </div>
  </article>
{% endblock %}