
{% extends '_templates/base.njk' %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1>A Place Where DC Lovers Are Welcome</h1>
      <p>Here you will find everything you need to get your fix on all things DC.</p>
    </div>
  </div>
</div>
{% endblock %}
