{% extends '_templates/base.njk' %}

{% block page_title %}Character Log{% endblock %}

{% block page_description %}{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center">
    <h1>The Character Log</h1>
    <p>This is where you can look through all the best Heros and Villians in the DC universe. Browse wisely, there are some powerful beings in here.</p>
  </div>
  <div class="row justify-content-evenly">
    <div class="col">
      <h1>Heros</h1>
      <hr>
      {% for log in characters.heros %}
        <h4><a href="heros/{{ log.slug }}.html">{{ log.name }}</a></h4>
        <p>{{ log.alias }}</p>
      <hr>
      {% endfor %}
    </div>
    <div class="col">
      <h1>Villains</h1>
      <hr>
        {% for log2 in characters.villians %}
        <h4><a href="villians/{{ log2.slug }}.html">{{ log2.name }}</a></h4>
        <p>{{ log2.alias }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}