{% extends '_templates/base.njk' %}

{% block page_title %}Pirate ships{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and fiction.{% endblock %}

{% block content %}
<article class="container">
  <h1>Popular Movies</h1>
  <p>Here you will find all the popular DC movies to appease your superhero needs.</p>
  <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-lg-3">
    {% for film in movies.Movies %}
    <div class="col">
      <div class="card h-100">
        <img src="img/{{film.Image}}" class="card-img-top" alt="movie poster">
        <div class="card-body">
          <h5 class="card-title">{{film.Movie}}</h5>
          <h6 class="card-title">{{film.Year}}</h6>
          <p class="card-text">{{film.Production_company}}</p>
        </div>
        <div class="card-footer">
          <a href="{{ film.More }}" class="card-link">More about the movie</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}